.bannerfarm_kit_mails{

}

/*---START Générateur kit mailing---*/
.bannerfarm_kit_mails{

}

.bannerfarm_kit_mails .kit_mailing{

}

.bannerfarm_kit_mails .kit_mailing .input_row{
    width: 100%;
    height: 30px;
}

.bannerfarm_kit_mails .kit_mailing .input_row label{
    margin-right: 20px;
    width: 120px;
}

.bannerfarm_kit_mails .kit_mailing .input_row .custom_text{
    width: 245px;
}

.bannerfarm_kit_mails .kit_mailing .input_row .custom_select{
    width: 252px;
}
/*---END Générateur kit mailing---*/

/*---START Choose design for mailing---*/
.bannerfarm_kit_mails .votre_kit{

}

.bannerfarm_kit_mails .votre_kit .input_row label{
    font-size: 12px;    
}

.bannerfarm_kit_mails .votre_kit .input_row > input[type="radio"]:checked+label{ 
    color: #cc3366;
    font-weight: bold;
}
/*---END Choose design for mailing---*/

/*---START Choose design for mailing---*/
.bannerfarm_kit_mails .chose_design{
    margin-bottom: 20px;
}
/*---END Choose design for mailing---*/

/*---START Selected products (appears when people start to select)---*/
.bannerfarm_kit_mails .selected_products{

}

.bannerfarm_kit_mails .selected_products > p{
    font-size: 12px;
}

.bannerfarm_kit_mails .selected_products > p > a{
    text-decoration: none;
    color: #cc3366;
    font-weight: bold;
}

.bannerfarm_kit_mails .selected_products > p > a:hover{
    text-decoration: underline;
}
/*---END Selected products (appears when people start to select)---*/

/*---START Choice of product---*/
.bannerfarm_kit_mails .choice_product{

}

.bannerfarm_kit_mails .choice_product > .left_part{
    width: 315px;
    float: left;
}

.bannerfarm_kit_mails .choice_product > .right_part{
    margin-left: 315px;
}

.bannerfarm_kit_mails .choice_product > .right_part .product_block{
    width: 100%;
}
/*---END Choice of product---*/

/*---START Other kit options*/
.bannerfarm_kit_mails .other_kit_options{
    
}

.bannerfarm_kit_mails .other_kit_options .input_row{
    height: auto;
    margin-bottom: 10px;
}

.bannerfarm_kit_mails .other_kit_options .input_row textarea{
    width: 245px;
}

.bannerfarm_kit_mails .other_kit_options .input_row label{
    width: 120px;
    margin-top: 3px;
}
/*---END Other kit options*/

/*---START your mails---*/
.bannerfarm_kit_mails .your_mail{
    margin-top: 25px;
}

.bannerfarm_kit_mails .your_mail table.grey_table tr td, .bannerfarm_kit_mails .your_mail table.grey_table tr td a{
    color: #cc3366;
    text-align: left;
}

.bannerfarm_kit_mails .your_mail table.grey_table tr td a{
    text-decoration: none;
}

.bannerfarm_kit_mails .your_mail table.grey_table tr td a:hover{
    text-decoration: underline;
}

.bannerfarm_kit_mails .your_mail table.grey_table tr td{
    padding: 0 0 0 35px;
}

.bannerfarm_kit_mails .your_mail table.grey_table tr td:first-child{
    padding-left: 10px;
}

.bannerfarm_kit_mails .your_mail table.grey_table tr td > a > img{
    float: left;
    margin: -2px 5px 0 0;
}

.name_preview{
    width: 80%;
}

.download_zip{
    height: 20%;
}
/*---END your mails---*/