.main_wrapper .content_block .content{
}

.main_wrapper .content_block .content .content_section.statistic_graph .section_title{
    height: 50px;
    padding-top: 10px;
}

.main_wrapper .content_block .content .content_section.statistic_graph .section_title p{
    margin-bottom: 5px;
}

.main_wrapper .content_block .content .content_section.statistic_graph .period{
    width: 400px;
    float: left;
}