<div style="display: none;"><img src="img/home.jpg"/></div>
<div class="navbar navbar-inverse navbar-fixed-top top-bar" id="nav-bar">
    <div class="container">
        <div class="navbar-header">
            <a href="#top" class="navbar-brand menu-controls"><span class="nav-title">Artur</span> Olshevsky</a>
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse navHeaderCollapse scroll">
            <ul class="nav navbar-nav navbar-right" id="nav">
                <li id="nav-about"><a href="#about" class="menu-controls">About Me</a></li>
                <li id="nav-portfolio"><a href="#portfolio" class="menu-controls">Portfolio</a></li>
                <li id="nav-contacts"><a href="#contacts" class="menu-controls">Contacts</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="frame home" id="home">
    <div class="container">
        <div class="col-md-12">
            <div class="x-menu scroll">
                <div class="x-menu-item x-menu-about"><a href="#about" class="x-menu-a menu-controls">About</a></div>
                <div class="x-menu-item x-menu-contacts"><a href="#contacts" class="x-menu-a menu-controls">Contacts</a></div>
                <div class="x-menu-item x-menu-portfolio"><a href="#portfolio" class="x-menu-a menu-controls">Portfolio</a></div>
            </div>
        </div>
    </div>
</div>
<div class="seperator type-1"></div>
<div class="frame bg" id="about">
    <div class="container">
        <h2 class="text-center">Who Am I?</h2>
        <div class="col-md-6">
            <p>Hello!</p>
            <p>My name is Artur and I'm a full stack developer with over 7 years experience in web. I started programming at age 14. My first programming langugage was Pascal, later in University I studied Delphi, C, C++ and SQL. At the same time I learned basics of web development (html, css, javascript) and found myself in web.</p>
            <p>I enjoy to work on Frontend/UI most, paying attention to details and concentrating on quality-driven development following W3C standarts, produce valid, semantic correct and optimized code. I also follow to the newest web trends and more than anything like working with cutting-edge technologies.</p>
            <p>As mentioned before, I am a full stack web developer and I have solid backend knowledge as well. Mostly I have worked with php using symfony and codeigniter frameworks. I have good undestanding of MVC projecting pattern and ORM.</p>
            <p>I want to be involved in interesting projects that I can be proud of, join an amazing team, and advance my programmer skills. Take some time to look at my portfolio and if you're interested in feel free to contact me.</p>
        </div>
        <div class="col-md-6 text-center">
            <img src="img/me.jpg" width="400" class="img-thumbnail img-circle img-responsive" style="margin-top: 30px;"/>
        </div>
        <div class="col-md-12 text-center">
            <h2 class="text-center" style="margin-top: 50px;">What I Do?</h2>
            <p>Coming soon...</p>
        </div>
    </div>
</div>
<div class="seperator type-1"></div>
<div class="frame" id="portfolio"></div>
<div class="seperator type-2"></div>
<div class="frame bg" id="contacts">
    <div class="container">
        <h2 class="text-center" style="margin-bottom: 15px;">Drop Me a Line</h2>
        <form action="server/send.php" role="form" class="contacts" id="contact-form">
            <div class="row">
                <div class="col-sm-6">
                    <input type="text" name="name" placeholder="Name" class="contacts-input form-name">
                </div>
                <div class="col-sm-6">
                    <input type="email" name="email" placeholder="Email" class="contacts-input form-email">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <textarea rows="10" placeholder="Message" class="contacts-textarea form-message"></textarea>
                </div>
            </div>
            <div class="row">
                <p class="info-message"></p>
            </div>
            <div class="row">
                <div class="col-sm-12 text-center">
                    <input type="submit" name="submit" value="Send" class="contacts-input" />
                </div>
            </div>
        </form>
        <div class="social text-center">
            <a href="mailto:me@arturs.net" target="_blank" class="social-a"><i class="fa fa-envelope-square social-i"></i></a>
            <a href="https://lv.linkedin.com/in/arturolshevsky" target="_blank" class="social-a"><i class="fa fa-linkedin-square social-i"></i></a>
            <a href="skype:turchik89" target="_blank" class="social-a"><i class="fa fa-skype social-i"></i></a>
            <a href="https://bitbucket.org/artur_privatecs" target="_blank" class="social-a"><i class="fa fa-bitbucket social-i"></i></a>
            <a href="http://jsfiddle.net/user/turchx/fiddles/" target="_blank" class="social-a"><i class="fa fa-jsfiddle social-i"></i></a>
        </div>
    </div>
</div>
<div class="scroll" id="bottom-arrow">
    <a href="#home" class="scroll-a menu-controls"><i class="fa fa-angle-up scroll-i"></i></a>
</div>